body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}


.qr-container {
    background-color: white;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#qrcode-canvas {
  margin-top: 5px;
  margin-bottom: 5px;
}


@media (max-width: 600px) {
    body {
        padding: 10px;
        margin: 0;
    }

    .container {
        padding: 15px;
        width: 100%;
    }

    textarea {
        font-size: 14px;
        height: 80px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    h1 {
        font-size: 1.5em;
    }
}
